body {
    background-color: #353b48;
    color: #eee;
}

.apptitlecontainer > h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.sectionTitle {
    font-size: 18px;
    border-left: 5px solid #f39c12;
    padding-left: 7px;
}
